Repository jaem1n207/eslint-plugin-ben: changes, and which lefthook commands are due for each by the changed paths.
All: update-eslint-docs, format, lint-js, lint-docs, rule-tests

lefthook.yml:

commit-msg:
  commands:
    'lint-commit-message':
      run: npx commitlint --edit $1

pre-commit:
  parallel: true
  commands:
    'update-eslint-docs':
      glob: 'docs/rules/*.md'
      run: npm run update:eslint-docs
    'format':
      glob: '*.{js,json,yml}'
      run: npx prettier --write {staged_files} && git update-index --again
    'lint-js':
      glob: '*.{js}'
      run: npm-run-all lint:format lint:js
    'lint-docs':
      glob: 'docs/**/*.md'
      run: npm run lint:eslint-docs
    'rule-tests':
      glob: 'tests/lib/rules/*.js'
      run: npm run test

feat: no-circular-dependencies 규칙 작성
  lib/rules/no-circular-dependencies.js
  tests/files/circular-dependencies/depth-one.mjs
  tests/files/circular-dependencies/depth-two.mjs
  tests/files/circular-dependencies/depth-zero.mjs
  tests/lib/rules/no-circular-dependencies.test.js
Due: format, rule-tests

chore: 패키지 종속성 업데이트
  package-lock.json
Due: format

ci: lefthook.yml 파일 변경
  lefthook.yml
Due: format

feat: 테스트 작성 편하게 하기 위한 유틸 함수 작성
  tasks/rule/templates/_test.js
  tests/lib/rules/no-lodash.test.js
  tests/lib/rules/no-moment.test.js
  tests/utils.js
Due: format, rule-tests

ci: pre-commit 단계에서 변경된 파일만 린트 검사
  lefthook.yml
Due: format

ci: pre-commit 단계 린트 검사 수정
  lefthook.yml
Due: format

docs: lodash 및 moment 패키지 마이그레이션을 위한 규칙 업데이트
  docs/rules/no-lodash.md
  docs/rules/no-moment.md
Due: update-eslint-docs, lint-docs

feat: 모듈 간 순환 의존성 감지 규칙 추가
  docs/rules/no-circular-dependencies.md
  lib/rules/no-circular-dependencies.js
Due: update-eslint-docs, format, lint-docs

feat: 추천 구성 적용
  lib/configs/recommended.js
  lib/index.js
Due: format

chore: 규칙의 옵션 편하게 가져올 수 있는 유틸 함수 작성
  lib/settings.js
Due: format

ci: 테스트 규칙 추가
  lefthook.yml
Due: format

chore: 유효하지 않은 증명이 포함된 모듈 버전 사용 x
  package-lock.json
  package.json
Due: format

chore(release): 1.2.0 [skip ci]
  CHANGELOG.md
  package-lock.json
  package.json
Due: format

Notes added by 'git notes add'
  c58df8f73ae4a43d8cd11abce7f842b07f3aed76
Due: none

ci: 개발 과정에서 실행하는 프로세스 재설정
  README.md
  cspell.json
  docs/rules/no-circular-dependencies.md
  lefthook.yml
  package-lock.json
  package.json
Due: update-eslint-docs, format, lint-docs
