Repository jaem1n207/eslint-plugin-ben: changes, and which lefthook commands are due for each by the changed paths.
All: update-eslint-docs, format

update-eslint-docs:
  run: npm run update:eslint-docs

format:
  run: npx prettier --write {staged_files} && git update-index --again

docs: changelog
  CHANGELOG.md
Due: none

chore: remove all-in-one command in build script
  package.json
Due: format

ci: remove setup Node.js with GitHub Package Registry step
  .github/workflows/release.yml
Due: none

chore: add ignore rule for task templates in ESLint and Prettier
  .eslintignore
  .prettierignore
Due: none

chore: update file patterns for test files in .eslintrc.js
  .eslintrc.js
Due: format

chore: 테스트 파일명 수정
  tests/lib/rules/ban-lodash.test.js
  tests/lib/rules/ban-moment.test.js
Due: format

feat: add generate rule scripts
  lib/assertions.js
  tasks/rule/generate-rule.js
  tasks/rule/templates/_doc.md
  tasks/rule/templates/_rule.js
  tasks/rule/templates/_test.js
Due: format

build: yeoman generator 제거
  package-lock.json
  package.json
Due: format

build: add @rspack/binding-linux-x64-gnu as optional dependency
  package-lock.json
  package.json
Due: format

chore(release): 1.1.0 [skip ci]
  CHANGELOG.md
  package-lock.json
  package.json
Due: format

Notes added by 'git notes add'
  2e9d8c9735f26b284b31a90345610cae49a31853
Due: none

refactor: node 내장 모듈 불러올 때 명확성을 위해 node: 접두사 사용하도록 통일
  tasks/bundle-with-rspack.js
  tasks/rule/generate-rule.js
Due: format

chore: prettier-plugin-pkg 추가
  .prettierignore
  .prettierrc
  package-lock.json
  package.json
Due: format

chore: 종속성 관리 자동화
  .npmignore
  CHANGELOG.md
  renovate.json
Due: format

ci: 리뷰어 자동 등록
  .github/assign-by-files.yml
  .github/workflows/assign-reviewers.yml
  lefthook.yml
Due: none

ci: ignore renovate branches in push event
  .github/workflows/release.yml
Due: none

ci: exclude chalk package from renovate.json
  renovate.json
Due: format

ci: update release.yml to ignore specific branches
  .github/workflows/release.yml
Due: none

chore: disable chalk package in renovate.json
  renovate.json
Due: format

refactor: 규칙에서 무언가를 허용하지 않는 경우에는 no- 접두사를 붙이도록
  README.md
  docs/rules/no-lodash.md
  docs/rules/no-moment.md
  lib/configs/recommended.js
  lib/index.js
  lib/rules/no-lodash.js
  lib/rules/no-moment.js
  tasks/bundle-with-rspack.js
  tasks/rule/templates/_doc.md
  tests/lib/rules/no-lodash.test.js
  tests/lib/rules/no-moment.test.js
Due: update-eslint-docs, format

fix: update rule template with author name in rule ID
  tasks/rule/templates/_doc.md
Due: none

ci: docs update 전에 build 먼저 실행하도록
  lefthook.yml
  tasks/rule/generate-rule.js
Due: format

Notes added by 'git notes add'
  ce4e137ad557a05af233cf6a1cde1ebb79a095dd
Due: none

chore(release): 1.1.1 [skip ci]
  CHANGELOG.md
  package-lock.json
  package.json
Due: format

docs: update readme & changelog
  CHANGELOG.md
  README.md
Due: none

ci: 문서 업데이트 전에 빌드 먼저 실행하도록 변경
  lefthook.yml
  package.json
  tasks/rule/generate-rule.js
Due: format

ci: renovate 봇에 의해 생성된 pr이라면 워크플로우 실행하지 않도록 설정
  .github/workflows/assign-reviewers.yml
  .github/workflows/release.yml
Due: none

docs: 라이브러리에 기여하는 방법을 설명
  .github/CODE_OF_CONDUCT.md
  .github/pull_request_template.md
  CONTRIBUTING.md
  README.md
Due: none

chore: eslint-docs 업데이트 스크립트 수정
  package.json
Due: format

chore: test template 일부 주석 제거
  tasks/rule/templates/_test.js
Due: format

docs: readme.md 파일의 CONTRIBUTING 링크 수정
  README.md
Due: none

ci: 테스트 규칙 추가
  lefthook.yml
Due: none

docs: lodash 및 moment 패키지 마이그레이션을 위한 규칙 업데이트
  docs/rules/no-lodash.md
  docs/rules/no-moment.md
Due: update-eslint-docs

feat: 모듈 간 순환 의존성 감지 규칙 추가
  docs/rules/no-circular-dependencies.md
  lib/rules/no-circular-dependencies.js
Due: update-eslint-docs, format

ci: pre-commit 단계에서 변경된 파일만 린트 검사
  lefthook.yml
Due: none

ci: pre-commit 단계 린트 검사 수정
  lefthook.yml
Due: none

chore: 규칙의 옵션 편하게 가져올 수 있는 유틸 함수 작성
  lib/settings.js
Due: format

feat: 추천 구성 적용
  lib/configs/recommended.js
  lib/index.js
Due: format

feat: 테스트 작성 편하게 하기 위한 유틸 함수 작성
  tasks/rule/templates/_test.js
  tests/lib/rules/no-lodash.test.js
  tests/lib/rules/no-moment.test.js
  tests/utils.js
Due: format

ci: lefthook.yml 파일 변경
  lefthook.yml
Due: none

Path conditions:
  update-eslint-docs: any of: docs/rules/*.md
  format: any of: *.{js,json}
